<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   
 <nav class="navbar navbar-default navbar-expand-lg fixed-top">
    <div class="container flex justify-content0-between align-items-center">

      <span></span>
     
      <h6 class="title">REGISTER</h6>


      <div class="header_button">
        <%= f.submit "Sign up" %>
      </div>

    </div>
  </nav>

 
<section class="auth">
 <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
  </div>


  <div class="auth_account">

  <%= render "devise/shared/links" %>

  </div>
</section>
<% end %>
